.modal__inner {
  background: #ddd;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.modal__new {
  display: flex;
  justify-content: center;
   padding: 2em;
 }

.form__group {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__group > * {
  padding: 2em;
  margin-bottom: .3em;
}